#calculator {
    height: fit-content;
    width: auto;
    background-color: black;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: repeat(4, var(--button-width));
    grid-template-rows: minmax(var(--button-height), auto) repeat(5, var(--button-height));
    grid-gap: var(--grid-gap);
    grid-template-areas: 
        "screen screen screen screen"
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.button:hover {
    outline: solid var(--grid-gap) lightgray;
}

.operator {
    background-color: darkgray;
}

.num {
    background-color: grey;
}

#screen {
    grid-area: screen;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Digital";
    padding: 0.2rem 0 0.2rem 0;
}

#calculation {
    color: orange;
    font-size: 1.1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#display {
    font-size: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#clear {
    grid-area: clear;
    background-color: darkred;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#equals {
    grid-area: equals;
    background-color: rgb(25, 78, 148);
}